<?php
function change_to_letter($number){
	switch($number){
		case 1:
			return 'A';
			break;
		case 2:
			return 'B';
			break;
		case 3:
			return 'C';
			break;
		case 4:
			return 'D';
			break;
	}						
}
?>
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	<h3 id="myModalLabel">
		Câu hỏi <?php echo $question_id ?>
	</h3>
</div>
<div class="modal-body">
	<p>
		<?php echo $question_content ?>
	</p>
	<p>
		<?php 
			$i=0;
			foreach($choices as $row){ 
				$i++;
		?>
		<?php 
			if($type_id=="0101") echo change_to_letter($i).". ".$row['content']."<br>"; 
			else echo $i.". ".$row['content']."<br>";			
		?>
		<?php
			}
		?>
	</p>
</div>
<div class="modal-footer">
	<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
</div>