<div class="tab-pane fade active in" id="<?php echo $type1  ?>">
	<div class="span6">
		<div class="page-header">
			<h4>Nội dung câu hỏi</h4>
		</div>
		<form style="margin: 0;">
			<fieldset>
				<textarea class="editor" id="question_content_<?php echo $type1  ?>" cols="20"
					rows="20" placeholder="Nội dung câu hỏi"></textarea>
			</fieldset>
		</form>
		<?php echo $tag_area ?>
		<ul id="myTab<?php echo $type1  ?>" class="nav nav-tabs">
			<li class="active"><a href="#detailed_answer_<?php echo $type1  ?>"
				data-toggle="tab">Bài giải chi tiết</a></li>
			<li class=""><a id="tab_question" href="#hint_<?php echo $type1  ?>"
				data-toggle="tab">Gợi ý</a></li>
		</ul>
		<div id="myTab<?php echo $type1  ?>Content" class="tab-content">
			<div class="tab-pane fade active in" id="detailed_answer_<?php echo $type1  ?>">
				<form id="list_detail_answers_<?php echo $type1  ?>">
					<fieldset id="1_<?php echo $type1  ?>">
						<textarea id="detailed_answer1_<?php echo $type1  ?>"
							class="detailed_answer detailed_answer_<?php echo $type1  ?>"
							onkeyup="add_more_choice(this,1,1,'<?php echo $type1  ?>')"
							placeholder="Bước 1"></textarea>
					</fieldset>
				</form>
			</div>
			<div class="tab-pane fade" id="hint_<?php echo $type1  ?>">
				<form id="list_hints_<?php echo $type1  ?>">
					<fieldset id="1_<?php echo $type1  ?>">
						<textarea id="hint1_<?php echo $type1  ?>" class="hint hint_<?php echo $type1  ?>"
							onkeyup="add_more_choice(this,1,2,'<?php echo $type1  ?>')" placeholder="Gợi ý 1"></textarea>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
	<div class="span6">
		<div class="page-header" style="margin-bottom: 20px;">
			<h4>Đáp án</h4>
		</div>
		<div id="preview_area">
			<div id="preview_question_<?php echo $type1  ?>">								
			</div>
			<div id="preview_choices_<?php echo $type1  ?>">
				<div id="choice1_<?php echo $type1  ?>_width"></div>
				<div id="choice2_<?php echo $type1  ?>_width"></div>
				<div id="choice3_<?php echo $type1  ?>_width"></div>								
			</div>
		</div>
		<form class="form-inline" id="list_answers_<?php echo $type1  ?>">
			<fieldset id="1_<?php echo $type1  ?>">
				<label for="choice1_<?php echo $type1  ?>">Lựa chọn A</label>
				<textarea id="choice1_<?php echo $type1  ?>" class="choice_<?php echo $type1  ?> choice"></textarea>
				<div class="multichoice_radio toggle btn btn-primary" data-toggle="toggle">
					<input type="checkbox" id="choice1_right_<?php echo $type1  ?>"
						class="choice_right_<?php echo $type1  ?>">
					<div class="toggle-group">
						<label class="toggle-on btn btn-primary">Đúng</label> <label
							class="toggle-off btn btn-success active">Sai</label> <span
							class="toggle-handle btn"></span>
					</div>
				</div>
				<br> <label for="explain1_<?php echo $type1  ?>">Giải thích</label>
				<textarea id="explain1_<?php echo $type1  ?>" class="explain_<?php echo $type1  ?>"
					placeholder="Giải thích"></textarea>
			</fieldset>
			<fieldset id="2_<?php echo $type1  ?>">
				<label for="choice2_<?php echo $type1  ?>">Lựa chọn B</label>
				<textarea id="choice2_<?php echo $type1  ?>" class="choice_<?php echo $type1  ?> choice"></textarea>
				<div class="multichoice_radio toggle btn btn-primary off" data-toggle="toggle">
					<input type="checkbox" id="choice2_right_<?php echo $type1  ?>"
						class="choice_right_<?php echo $type1  ?>">
					<div class="toggle-group">
						<label class="toggle-on btn btn-primary">Đúng</label> <label
							class="toggle-off btn btn-success active">Sai</label> <span
							class="toggle-handle btn"></span>
					</div>
				</div>
				<br> 
				<label for="explain2_<?php echo $type1  ?>">Giải thích</label>
				<textarea id="explain2_<?php echo $type1  ?>" class="explain_<?php echo $type1  ?>"
					placeholder="Giải thích"></textarea>
			</fieldset>
			<fieldset id="3_<?php echo $type1  ?>">
				<label for="choice3">Lựa chọn C</label>
				<textarea id="choice3_<?php echo $type1  ?>" class="choice_<?php echo $type1  ?> choice"></textarea>
				<div class="multichoice_radio toggle btn btn-primary off" data-toggle="toggle">
					<input type="checkbox" id="choice3_right_<?php echo $type1  ?>"
						class="choice_right_<?php echo $type1  ?>">
					<div class="toggle-group">
						<label class="toggle-on btn btn-primary">Đúng</label> <label
							class="toggle-off btn btn-success active">Sai</label> <span
							class="toggle-handle btn"></span>
					</div>
				</div><br> 
				<label for="explain3_<?php echo $type1  ?>">Giải thích</label>
				<textarea id="explain3_<?php echo $type1  ?>" class="explain_<?php echo $type1  ?>" placeholder="Giải thích"></textarea>
			</fieldset>
			<fieldset id="4_<?php echo $type1  ?>">
				<label for="choice4_<?php echo $type1  ?>">Lựa chọn D</label>
				<textarea id="choice4_<?php echo $type1  ?>" class="choice_<?php echo $type1  ?> choice"></textarea>
				<div class="multichoice_radio toggle btn btn-primary off" data-toggle="toggle">
					<input type="checkbox" id="choice4_right_<?php echo $type1  ?>"
						class="choice_right_<?php echo $type1  ?>">
					<div class="toggle-group">
						<label class="toggle-on btn btn-primary">Đúng</label> <label
							class="toggle-off btn btn-success active">Sai</label> <span
							class="toggle-handle btn"></span>
					</div>
				</div><br>
				<label for="explain4_<?php echo $type1  ?>">Giải thích</label>
				<textarea id="explain4_<?php echo $type1  ?>" class="explain_<?php echo $type1  ?>" placeholder="Giải thích"></textarea>
			</fieldset>
		</form>
		<button class="btn btn-large btn-primary"
			style="display: block; margin-top: 20px;" type="button"
			onclick="create_question('<?php echo $type1  ?>')">Nhập câu hỏi</button>
	</div>
</div>