<div class="tab-pane fade" id="<?php echo $type5  ?>">
	<div class="span6">
		<div class="page-header">
			<h4>Nội dung câu hỏi</h4>
		</div>
		<form>
			<fieldset>
				<textarea class="editor" id="question_content_<?php echo $type5  ?>"
					placeholder="Nội dung câu hỏi"></textarea>
			</fieldset>
		</form>
		<?php echo $tag_area ?>
		<ul id="myTabPartPoint" class="nav nav-tabs">
			<li class="active"><a href="#detailed_answer_<?php echo $type5  ?>"
				data-toggle="tab">Bài giải chi tiết</a></li>
			<li class=""><a id="tab_question" href="#hint_<?php echo $type5  ?>"
				data-toggle="tab">Gợi ý</a></li>
		</ul>
		<div id="myTabPartPointContent" class="tab-content">
			<div class="tab-pane fade active in"
				id="detailed_answer_<?php echo $type5  ?>">
				<form id="list_detail_answers_<?php echo $type5  ?>">
					<?php
						$i = 0;
						if(isset($detailed_answers)){
							foreach($detailed_answers as $row){
								$i++;
					?>
					<fieldset id="<?php echo $i ?>_<?php echo $type5  ?>">
						<textarea id="detailed_answer<?php echo $i ?>_<?php echo $type5  ?>"
							class="detailed_answer detailed_answer_<?php echo $type5  ?>"
							onkeyup="add_more_choice(this,<?php echo $i ?>,1,'<?php echo $type5  ?>')"
							placeholder="Bước <?php echo $i ?>"><?php if(isset($row[$i-1]) && $row[$i-1]!=null) print $row[$i-1] ?></textarea>
					</fieldset>
					<?php								
							}
						}
					?>
				</form>
			</div>
			<div class="tab-pane fade" id="hint_<?php echo $type5  ?>">
				<form id="list_hints_<?php echo $type5  ?>">
					<?php
						$i = 0;
						if(isset($hints)){
						foreach($hints as $row){
							$i++;
					?>
					<fieldset id="<?php echo $i ?>_<?php echo $type5  ?>">
						<textarea id="hint<?php echo $i ?>_<?php echo $type5  ?>" class="hint hint_<?php echo $type5  ?>"
							onkeyup="add_more_choice(this,<?php echo $i ?>,2,'<?php echo $type5  ?>')" placeholder="Gợi ý <?php echo $i ?>"><?php if(isset($row[$i-1]) && $row[$i-1]!=null) print $row[$i-1] ?></textarea>
					</fieldset>
					<?php
							}
						}
					?>
				</form>
			</div>
		</div>
	</div>
	<div class="span6">
		<div class="page-header" style="margin-bottom: 20px;">
			<h4>Đáp án</h4>
		</div>
		<div id="preview_area">
			<div id="preview_question_<?php echo $type5  ?>">								
			</div>
			<div id="preview_choices_<?php echo $type5  ?>">
				<div id="preview_question_<?php echo $type5  ?>">
				<?php if(isset($question_content) && $question_content!=null) echo $question_content ?>														
				</div>
				<div id="preview_choices_<?php echo $type5  ?>">
					<?php
						$i = 0;
					foreach($choices as $row){
						$i++;
				?>	
					<div id="choice<?php echo $i ?>_<?php echo $type5  ?>_width"><?php echo change_to_letter($i).". ".$row['content'] ?></div>
					<?php
						}
				?>									
				</div>								
			</div>
		</div>
		<form class="form-inline" id="list_answers_<?php echo $type5  ?>">
			<?php
				$i = 0;
				foreach($choices as $row){
					$i++;
			?>
			<fieldset id="<?php echo $i ?>_<?php echo $type5  ?>">
				<label for="choice<?php echo $i ?>_<?php echo $type5  ?>">Lựa chọn 1</label>
				<?php
					if($i<4){
				?>
				<textarea id="choice<?php echo $i ?>_<?php echo $type5  ?>" class="choice_<?php echo $type5  ?> choice"><?php echo $row['content'] ?></textarea>
				<?php
					}else{
				?>
				<textarea id="choice<?php echo $i ?>_<?php echo $type5  ?>" class="choice_<?php echo $type5  ?> choice"
					onkeyup="add_more_choice(this,<?php echo $i ?>,3,'<?php echo $type5  ?>')"><?php echo $row['content'] ?></textarea>
				<?php
					}
				?>
				<div class="no_right_answer toggle btn btn-primary <?php if($row['is_right']==0) echo 'off' ?>" data-toggle="toggle">
					<input type="checkbox" id="choice<?php echo $i ?>_right_<?php echo $type5  ?>"
						<?php if($row['is_right']==1) echo 'checked'?> class="choice_right_<?php echo $type5  ?>">
					<div class="toggle-group">
						<label class="toggle-on btn btn-primary">Đúng</label> <label
							class="toggle-off btn btn-success active">Sai</label> <span
							class="toggle-handle btn"></span>
					</div>
				</div>
				<br>
				<div style="display:inline;"> 								
				<label for="explain<?php echo $i ?>_<?php echo $type5  ?>">Giải thích</label>
				<textarea id="explain<?php echo $i ?>_<?php echo $type5  ?>" class="explain_<?php echo $type5  ?>"
					placeholder="Giải thích"><?php echo $row['explaination']; ?></textarea>
				<label for="point<?php echo $i ?>">Được</label> 
				<select
					id="point<?php echo $i ?>" class="span3 point">
					<option value="0.25">0.25</option>
					<option value="0.75">0.75</option>
					<option value="1">1</option>
				</select>
				</div>
			</fieldset>
			<?php
				}
			?>			
		</form>
		<div style="width:78%;" class="toggle btn <?php if($no_right_choice==0) echo 'off' ?> no_right_answer_toggle no_right_answer_toggle_<?php echo $type5  ?>" data-toggle="toggle">
			<input id="all_wrong_<?php echo $type5  ?>" type="checkbox">
			<div class="toggle-group">
				<label class="toggle-on btn btn-primary">Không đáp án nào đúng</label> 
				<label class="toggle-off btn active">Không đáp án nào đúng</label> 
				<span class="toggle-handle btn"></span>
			</div>
		</div>
		<div class="toggle <?php if($no_right_choice==0) echo 'off disabled'; ?> btn btn-primary button_show_right_answer button_show_right_answer_<?php echo $type5  ?>" data-toggle="">
			<input id="show_right_<?php echo $type5  ?>" type="checkbox">
			<div class="toggle-group">
				<label class="toggle-on btn btn-primary">Hiện</label> 
				<label class="toggle-off btn active">Ẩn</label> 
				<span class="toggle-handle btn"></span>
			</div>
		</div>
		<div class="right_answer_input_<?php echo $type5  ?>" style="<?php if($no_right_choice==0) echo 'display:none'; else echo 'display:block' ?>">
			<form action="">
				<fieldset>
					<textarea style="width: 95.5%;" id="right_answer_<?php echo $type5  ?>"
						placeholder="Đáp án ĐÚNG"><?php if(isset($question_right_answer) && $question_right_answer!=null) echo $question_right_answer; ?></textarea>
				</fieldset>
			</form>
		</div>
		<button class="btn btn-large btn-primary"
			style="display: block; margin-top: 20px;" type="button"
			onclick="edit_question('<?php echo $type5  ?>',<?php echo $question_id ?>)">Lưu câu hỏi</button>
	</div>
</div>