<div class="tab-pane fade active in" id="<?php echo $type1  ?>">
	<div class="span6">
		<div class="page-header">
			<h4>Nội dung câu hỏi</h4>
		</div>
		<form style="margin: 0;">
			<fieldset>
				<textarea class="editor" id="question_content_<?php echo $type1  ?>" cols="20"
					rows="20" placeholder="Nội dung câu hỏi"><?php if(isset($question_content) && $question_content!=null) echo $question_content ?></textarea>
			</fieldset>
		</form>
		<?php echo $tag_area ?>
		<ul id="myTab<?php echo $type1  ?>" class="nav nav-tabs">
			<li class="active"><a href="#detailed_answer_<?php echo $type1  ?>"
				data-toggle="tab">Bài giải chi tiết</a></li>
			<li class=""><a id="tab_question" href="#hint_<?php echo $type1  ?>"
				data-toggle="tab">Gợi ý</a></li>
		</ul>
		<div id="myTab<?php echo $type1  ?>Content" class="tab-content">
			<div class="tab-pane fade active in" id="detailed_answer_<?php echo $type1  ?>">
				<form id="list_detail_answers_<?php echo $type1  ?>">
					<?php
						function change_to_letter($number){
							switch($number){
								case 1:
									return 'A';
									break;
								case 2:
									return 'B';
									break;
								case 3:
									return 'C';
									break;
								case 4:
									return 'D';
									break;
							}						
						}
						$i = 0;
						if(isset($detailed_answers)){
							foreach($detailed_answers as $row){
								$i++;
					?>
					<fieldset id="<?php echo $i ?>_<?php echo $type1  ?>">						
						<textarea id="detailed_answer<?php echo $i ?>_<?php echo $type1  ?>"
							class="detailed_answer detailed_answer_<?php echo $type1  ?>"
							onkeyup="add_more_choice(this,<?php echo $i ?>,1,'<?php echo $type1  ?>')"
							placeholder="Bước <?php echo $i ?>"><?php if(isset($row[$i-1]) && $row[$i-1]!=null) print $row[$i-1] ?></textarea>						
					</fieldset>
					<?php								
							}
						}
					?>
				</form>
			</div>
			<div class="tab-pane fade" id="hint_<?php echo $type1  ?>">
				<form id="list_hints_<?php echo $type1  ?>">
					<?php
						$i = 0;
						if(isset($hints)){
						foreach($hints as $row){
							$i++;
					?>
					<fieldset id="<?php echo $i ?>_<?php echo $type1  ?>">						
						<textarea id="hint<?php echo $i ?>_<?php echo $type1  ?>" class="hint hint_<?php echo $type1  ?>"
							onkeyup="add_more_choice(this,<?php echo $i ?>,2,'<?php echo $type1  ?>')" placeholder="Gợi ý <?php echo $i ?>"><?php if(isset($row[$i-1]) && $row[$i-1]!=null) print $row[$i-1] ?></textarea>						
					</fieldset>
					<?php
							}
						}
					?>
				</form>
			</div>
		</div>
	</div>
	<div class="span6">
		<div class="page-header" style="margin-bottom: 20px;">
			<h4>Đáp án</h4>
		</div>
		<div id="preview_area">
			<div id="preview_question_<?php echo $type1  ?>">	
				<?php if(isset($question_content) && $question_content!=null) echo $question_content ?>						
			</div>
			<div id="preview_choices_<?php echo $type1  ?>">
				<?php
					$i = 0;
					foreach($choices as $row){
						$i++;
				?>				
				<div id="choice<?php echo $i ?>_<?php echo $type1  ?>_width"><?php echo change_to_letter($i).". ".$row['content'] ?></div>
				<?php
					}
				?>							
			</div>
		</div>
		<form class="form-inline" id="list_answers_<?php echo $type1  ?>">
			<?php
				$i = 0;
				foreach($choices as $row){
					$i++;
			?>
			<fieldset id="<?php echo $i ?>_<?php echo $type1  ?>">
				<label for="choice<?php echo $i ?>_<?php echo $type1  ?>">Lựa chọn <?php echo change_to_letter($i) ?></label>
				<textarea id="choice<?php echo $i ?>_<?php echo $type1  ?>" class="choice_<?php echo $type1  ?> choice"><?php echo $row['content'] ?></textarea>
				<div class="multichoice_radio toggle btn btn-primary <?php if($row['is_right']==0) echo 'off' ?>" data-toggle="toggle">
					<input type="checkbox" id="choice<?php echo $i ?>_right_<?php echo $type1  ?>"
						<?php if($row['is_right']==1) echo 'checked'?> class="choice_right_<?php echo $type1  ?>">
					<div class="toggle-group">
						<label class="toggle-on btn btn-primary">Đúng</label> <label
							class="toggle-off btn btn-success active">Sai</label> <span
							class="toggle-handle btn"></span>
					</div>
				</div>
				<br> <label for="explain<?php echo $i ?>_<?php echo $type1  ?>">Giải thích</label>
				<textarea id="explain<?php echo $i ?>_<?php echo $type1  ?>" class="explain_<?php echo $type1  ?>"
					placeholder="Giải thích"><?php echo $row['explaination']; ?></textarea>
			</fieldset>
			<?php
				}
			?>			
		</form>
		<button class="btn btn-large btn-primary"
			style="display: block; margin-top: 20px;" type="button"
			onclick="edit_question('<?php echo $type1  ?>',<?php echo $question_id ?>)">Lưu câu hỏi</button>
	</div>
</div>