<ul id="myTab" class="nav nav-tabs" style="margin-bottom: 15px;">
	<li class="active"><a href="#multiple_choice" data-toggle="tab">Trắc nghiệm</a></li>
	<li><a id="tab_question" href="#<?php echo $type6  ?>" data-toggle="tab">Câu trả lời ngắn</a></li>
	<li><a id="tab_question" href="#<?php echo $type7 ?>" data-toggle="tab">Cloze</a>
	</li>
	<select id="curriculum">
		<?php
    		foreach($list_curriculum as $row){
			?>
		<option value="<?php echo $row['id'] ?>" <?php if($row['id']==3 || (isset($curriculum_type_id) && $row['id'] == $curriculum_type_id)) echo "selected"; ?>>
			<?php echo $row['name'] ?></option>
		<?php
    		}
			?>
	</select>
	<select id="grade">
		<?php
    		foreach($list_grades as $row){
			    	?>
		<option value="<?php echo $row['id'] ?>" <?php if($row['name']=="Lớp 12" || (isset($grade_id) && $row['id'] == $grade_id)) echo "selected"; ?>>
			<?php echo $row['name'] ?></option>
		<?php
    		}
			?>
	</select>
	<select id="subject">
		<?php
    		foreach($list_subjects as $row){
			?>
		<option value="<?php echo $row['id'] ?>" <?php if($row['subject_name']=="Hóa học" || (isset($subject_id) && $row['id'] == $subject_id)) echo "selected"; ?>>
			<?php echo $row['subject_name'] ?></option>
		<?php
    		}
			?>
	</select>
	<?php
		if(!isset($question_id)){
	?>
	<span style="float:right;margin-right:10px;"><a id="manage_question_slide" href="javascript:void()" class="btn btn-small btn-primary">Quản lý câu hỏi</a></span>
	<?php
		}
	?>
	<div id="alert" style="display:none;">
		<div class="alert alert-success" style="display: none;">
	      <button type="button" class="close" data-dismiss="alert">×</button>
	      <strong>Bạn đã tạo câu hỏi thành công!</strong>
	   	</div>
   	</div>   	
   	<div class="alert alert-error" style="display: none;">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <strong>Có lỗi khi tạo câu hỏi!</strong>
   	</div>
</ul>