<!--sidebar content -->
<div class="well sidebar-nav">
	<ul class="nav nav-list">
	  <li class="nav-header">
	  	<a href="#" class="tab-link active"><img src="<?php echo base_url() ?>public/images/leaf-green.png" class="profile-tab-avatar"> Username</a>
	  	<a href="/">
     		Learning Dashboard
		</a>
	  </li>
	  <li class="nav-header">Thành tích</li>
	  <li class="nav-header">Lớp đang dạy</li> 
	  <li><a href="#" class="list"><i class="icon-ok-sign"></i>Lớp 1</a></li>
	  <li><a href="#" class="list"><i class="icon-ok-sign"></i>Lớp 2</a></li>
	  <li><a href="#" class="list"><i class="icon-ok-sign"></i>Lớp 3</a></li>
	  <li class="nav-header">Tài liệu</li>
	</ul>					
</div>