<title>Đăng nhập hệ thống</title>
	<link rel="stylesheet" href="<?php echo base_url() ?>public/css/login_style.css" type="text/css">
	<script type="text/javascript" src="<?php echo base_url() ?>public/js/jquery.js"></script>
	<script type="text/javascript">
		function dangnhap(type){
			if(typeof String.prototype.trim !== 'function') {
				String.prototype.trim = function() {
				return this.replace(/^\s+|\s+$/, ''); 
				}
			}
			var ajax = new XMLHttpRequest();
			var email = document.getElementById('email').value;
			var pass = document.getElementById('passwd').value;
			if(email==""||pass==""){
				alert("Bạn cần nhập email và mật khẩu.");
			}
			else{
				var str = "submit="+type+"&email="+email+"&pass="+pass;
				ajax.open("POST","<?php echo base_url(); ?>auth/user/login",true);
				ajax.setRequestHeader("Content-Type","application/x-www-form-urlencoded; charset=UTF-8");
				ajax.send(str);
				ajax.onreadystatechange = function(){
					if(ajax.readyState == 4)
					{				
						var response = ajax.responseText;
						if(response.trim()=="Failed"){
							document.getElementById('form_message').innerHTML = "Nhập sai email hoặc mật khẩu";
						}
						else{
							window.location = response;							
						}					
					}					
				}
			}
		}

		$(window).bind('keydown', function(e){
			if(e.keyCode==13)
				dangnhap('signin');	
		});
	</script>
	<body style="text-align: center;">
		<form id="form_login" method="post" onsubmit="dangnhap('signin')">
			<h1>Đăng nhập vào hệ thống</h1>
			<p id="form_message" style="color:red;"></p>
			<p>
				<label for="email">User name: </label> <input id="email" type="text"
					class="input" name="email" placeholder="Email" />
			</p>
			<p>
				<label for="passwd">Password: </label> <input id="passwd"
					type="password" class="input" name="passwd" placeholder="Mật khẩu" />
			</p>
			<p>
				<input type="button" name="submit" onclick="dangnhap('signin')"
					class="submit" value="Đăng nhập" style="background-color: #067CD3;">
					<div style="font-color: red;" id="result"></div>
				<span>Bạn chưa có tài khoản?</span>
				<span><a href="<?php echo base_url() ?>auth/user/signup">Đăng ký</a></span>
			</p>
		</form>
	</body>